/*******************************/
/* global document body styles */
/*******************************/

html, body {
  width: 100%;
  height: 768px;
  overflow: hidden;
}

body {
        font: 12pt Arial, Helvetica, sans-serif;
     padding: 0;
      margin: 0;
    background: url(images/paving.jpg);
    background-size: cover;
}

/**************************/
/* unique id-based styles */
/**************************/

#breakout {
  position: relative;
}

#canvas {
  -webkit-transform: translateZ(0); /* force hardware acceleration in chrome */
}

#levels {
     position: absolute;
         left: 10px;
          top: 10px;
        color: #666;
  line-height: 20px;
}

#levels #next  { position: absolute;            }
#levels #prev  { position: absolute; top: 14px; }
#levels #label { padding-left: 20px; }
#levels #level { font-size: 14pt; padding-left: 5px; font-weight: bold; color: black; }

#levels img                 { cursor: pointer; }
#levels img.disabled        { opacity: 0.3; cursor: default; }
#levels img:active          { margin-top: 1px; margin-left: 1px; }
#levels img.disabled:active { margin-top: 0; margin-left: 0; }

#instructions {
  /*
  background: rgba(0, 0, 0, .5);
      border: 2px solid #333;
       color: #fff;
     padding: 0.5em 1em;
 white-space: nowrap;
  text-align: center;
       width: 18em;
 font-weight: 300;
  */
    position: absolute;
    top: 60%;
    left: 495px;
    margin-left: -105px;
}
#instructions b { color: #fff; text-decoration: underline; }

#instructions       .keyboard { display: block; }
#instructions       .touch    { display: none;  }
#instructions.touch .keyboard { display: none;  }
#instructions.touch .touch    { display: block; }

#controls {
  position: absolute;
    bottom: 0.5em;
      left: 0.5em;
}
#controls input,
#controls label { vertical-align: middle; }

/********************************/
/* re-usable class-based styles */
/********************************/

.unsupported {
            border: 1px solid yellow;
             color: black;
  background-color: #FFFFAD;
           padding: 2em;
            margin: 5em;
           display: inline-block;
}

/*****************************/
/* @media query based layout */
/*****************************/

@media screen and (min-width: 0px) {
  #breakout     { display: block; width: 100%; height: 100%; }
  #canvas       { display: block; width: 100%; height: 100%; }
  #instructions { font-size: 8pt; }
}

@media screen and (min-width: 1200px) {
  #breakout     { width: 100%; height: 100%; }
  #canvas       { width: 100%; height: 100%; }
  #instructions { font-size: 10pt; }
}

@media screen and (min-width: 1600px) {
  #breakout     { width: 100%; height: 100%; }
  #canvas       { width: 100%; height: 100%; }
  #instructions { font-size: 11pt; }
}


#controls, #levels { opacity: 0; }

#instructions {
  border: 0 none;
  background: none;
  width: 211px;
  height: 79px;
}
.keyboard, .touch {
  background: url('images/btn_start.png') no-repeat;
  width: 211px;
  height: 79px;
  border: none;
}
#counter {
  color: #fff;
  font: bold 28px 'Open Sans', Arial, sans-serif;
  position: absolute;
  top: 8px;
  left: 250px;
}

#btn_speed {
  width: 150px;
  height: 151px;
  position: absolute;
  top: 470px;
  left: 5%;
  z-index: 99999;

}

#btn_speed img {
  max-width: 100%;
}